<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='escolha.css') }}">
    <title>Escolha</title>
</head>
<body>
    <h1>Escolha entre :</h1>
    <div class="botoes">
        <a href="/Jogo">
            <div class="botao" id="X" onclick="Modo_de_jogo(this.id)"></div>
        </a>

        <a href="/Jogo">
            <div class="botao" id="O" onclick="Modo_de_jogo(this.id)"></div>
        </a>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>