<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='derrota_vitoria.css') }}">
  {% if emoji == "0" %}
    <title>{{ resultado_game }} &#128513</title>
  {% else %}
    <title>{{ resultado_game }} &#128531</title>
  {% endif %}
</head>
<body>
<div class="tudo">
  <div class="caixa">
    {% if emoji %}
      <div class="venceu"><h1>{{ resultado_game }} &#128513</h1>
    {% else %}
      <div class="venceu"><h1>{{ resultado_game }} &#128531</h1>
    {% endif %}
    </div>
    <form action="/Jogo">
    <button>Jogar Novamente</button>
  </form>
    <form action="/menu_volta">
    <button>Voltar ao Menu</button>
  </form>
</div>
  </div>
</body>
</html>